<div style="position: absolute; bottom: 0; right: 0;" class="addPostButton m-5">
    <button style="width: 70px; height: 70px; "type="button" class="rounded-circle p-0 btn btn-dark " data-bs-toggle="modal" data-bs-target="#newPostModal"><i width="42" height="42" data-feather="plus"></i></button>
</div>