<div class="card mt-3">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a class="navbar-brand d-flex align-items-center text-dark"
                   href="#">
                    <img class="rounded-circle me-1 d-inline-block align-text-top"
                         src="../@PageData["CommentAuthor"].Image"
                         alt=""
                         width="30"
                         height="30" />
                    <span class="text-break">  @PageData["CommentAuthor"].Username </span>
                </a>
                <i>@PageData["Comment"].DateOfCreation</i>
            </div>
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    if (PageData["authUser"].Role == 1 || PageData["PublicationAuthor"].Username == PageData["authUser"].Username || PageData["authUser"].Username == PageData["CommentAuthor"].Username)
                    {
                        <form style="display: inline" action="~/Actions/DeleteComment.cshtml" method="post">
                            <input style="display: none" type="text" name="CommentId" value="@PageData["Comment"].Id" />
                            <button class="btn-outline-danger btn p-1"><i data-feather="trash-2"></i></button>
                        </form>
                    }
                }
            </div>
        </div>
        <p>
            @PageData["Comment"].CommentBody
        </p>

    </div>
</div>